<h1>
	ENTP
</h1>
<h2>
	The Originator
</h2>
<p>The ENTP's are known for their original somewhat eccentric ideas. They have the ability to spot undelying trends 
and patterns (Ne) which are seemingly unrecognisable for the majority of ohter people. </p>


<p>To have a further in depth look at the ENTP Personality type. Please view my book <%= link_to "ENTP Manual", ebooks_path %></td>