<div class="center jumbotron">
	<h1>Welcome to Personality Preferences</h1>

	<h2>
		Home of the 16 personality types
	</h2>

	<%= link_to "Sign up!", signup_path , class: "btn btn-lg btn-primary" %>

</div>
