<div class="center jumbotron">
	<h1>Welcome to Personality Preferences</h1>

	<h2>
		Home of the 16 personality types
	</h2>

	<p>Do you wish to find out more about your personality and those around you?<br>
		Bored of reading the same descriptions?<br>
		Do you wish to gain a in depth understanding of human psychology?<br>
		Do you want to know more about the myers briggs theory?</br>
	</p>



	<%= link_to "Explore Types!", types_path , class: "btn btn-lg btn-primary" %>

</div>
