<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Personality Preferences", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "16 Types", types_path %></li>
        <li><%= link_to "Articles", articles_path %></li>
      </ul>
    </nav>
  </div>
</header>